<form class="login-wrap" (submit)="onSubmit()" >
    <div class="login-form">
      <!-- SIGN IN FORM -->
      <div class="sign-in-htm">
        <div class="group">
          <label for="user" class="label">Email</label>
          <input
            id="user"
            type="text"
            class="input"
            [(ngModel)]="mail"
            name="mail"
          />
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input
            id="pass"
            name="password"
            type="password"
            class="input"
            data-type="password"
            [(ngModel)]="password"
          />
        </div>
        <div class="group">
          <input type="submit" class="button" value="Sign In" />
        </div>
    </div>
  </div>
</form>
